# --- Backend Settings ---
BACK_PORT=3000
BACK_NODE_ENV=development

# MariaDB Settings
DB_HOST=localhost
DB_USER=hnic
DB_PASSWORD=##hnic123
DB_NAME=SDM_DB

# JWT Settings
JWT_SECRET=your_jwt_secret  
JWT_EXPIRES_IN=1h

# --- Frontend Settings ---
VITE_API_URL=http://localhost:3000
VITE_WS_URL=ws://localhost:3000 